.heading{
    width: 100%;
    top: 0;
    display: flex;
    justify-content: space-evenly;
    place-items: center;
    background-color: rgb(3, 43, 203);
    z-index: 2;
    font-family: 'Courier New', Courier, monospace;
    color: aliceblue;
    margin-bottom: 1%;
}